<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tju.doctor.dao.UserMapper" >

    <select id="getUserByEmail" resultType="cn.tju.doctor.daomain.User" parameterType="String">
        SELECT * FROM users WHERE email = #{email} ;
    </select>

    <select id="getUserByToken" resultType="cn.tju.doctor.daomain.User" parameterType="String">
        SELECT * FROM users WHERE token = #{token} ;
    </select>

    <select id="getUserByUsername" resultType="cn.tju.doctor.daomain.User" parameterType="String">
        SELECT * FROM users WHERE username = #{username} ;
    </select>

    <select id="getUserByArea" resultType="cn.tju.doctor.daomain.User" parameterType="String">
        SELECT * FROM users WHERE area = #{area} ;
    </select>

    <insert id="insertUser" parameterType="cn.tju.doctor.daomain.User">
        INSERT INTO users (username, password, email, area, region, unit, part, name, actureID, phone, address, bankID, ifDoc, docID, docIDurl, type)
        VALUES  (#{user.username}, #{user.password}, #{user.email}, #{user.area}, #{user.region}, #{user.unit}, #{user.part}, #{user.name}, #{user.actureID}, #{user.phone}, #{user.address}, #{user.bankID}, #{user.ifDoc}, #{user.docID}, #{user.docIDurl}, #{user.type})
    </insert>

    <delete id="deleteUserById" parameterType="java.lang.Integer">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <update id="updateUser" parameterType="cn.tju.doctor.daomain.User">
        UPDATE users
        <set>
            <if test="user.username != null">username=#{user.username},</if>
            <if test="user.password != null">password=#{user.password},</if>
            <if test="user.email != null">email=#{user.email},</if>
            <if test="user.token != null">token=#{user.token},</if>
            <if test="user.area != null">area=#{user.area},</if>
            <if test="user.region != null">region=#{user.region},</if>
            <if test="user.unit != null">unit=#{user.unit},</if>
            <if test="user.part != null">part=#{user.part},</if>
            <if test="user.name != null">name=#{user.name},</if>
            <if test="user.actureID != null">actureID=#{user.actureID},</if>
            <if test="user.phone != null">phone=#{user.phone},</if>
            <if test="user.address != null">address=#{user.address},</if>
            <if test="user.bankID != null">bankID=#{user.bankID},</if>
            <if test="user.ifDoc != null">ifDoc=#{user.ifDoc},</if>
            <if test="user.docID != null">docID=#{user.docID},</if>
            <if test="user.docIDurl != null">docIDurl=#{user.docIDurl},</if>
            <if test="user.type != null">type=#{user.type},</if>
        </set>
        WHERE authorID=${user.authorID}
    </update>

</mapper>